@mixin button($background: $button, $text: black) {
  background: $background;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 999px;
  width: 150px;
  border: 0;
  color: $text;
  cursor: pointer;
  font-weight: 500;
}

@mixin action-primary() {
  background-color: $header-text;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  border-radius: 999px;
  padding: 6px 20px;
  border: 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

@mixin action-secondary() {
  background-color: transparent;
  color: $header-text;
  font-weight: 200;
  text-transform: uppercase;
  border-radius: 999px;
  padding: 6px 20px;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: lightgrey;
  }
}
