@font-face {
  font-family: "Didot";
  font-weight: 400;
  src: url("../fonts/GFS_Didot/GFSDidot-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Robot/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Robot/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Robot/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Robot/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Robot/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Robot/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Robot/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/Robot/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Robot/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/Robot/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Robot/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Robot/Roboto-BlackItalic.ttf") format("truetype");
}
