$bg: #f4f3e9;
$button: #eefc7e;
$card: #e4dcc9;
$header-text: #2b473e;

$breakpoint_xs: 36rem;
$breakpoint_sm: 48rem;
$breakpoint_md: 62rem;
$breakpoint_lg: 75rem;
$breakpoint_xl: 88rem;

$content_width: 75rem;
